<div class="nav">
  <div class="buttons">
    <div class="leftButtons">
      <button routerLink="/settings"><img src="./assets/Navigation-Icons/UserIcon.png" alt="User"></button>
      <button routerLink="/home"><img src="./assets/Navigation-Icons/Home.png" alt="Home"></button>
      <button routerLink="/search"><img src="./assets/Navigation-Icons/Search.png" alt="Search"></button>
      <button routerLink="/uploads"><img src="./assets/Navigation-Icons/Save.png" alt="Save"></button>
    </div>
    <div class="rightButtons">
      <button id="expandMenu"><img src="./assets/Navigation-Icons/ExpandMenu.png" alt="menu"></button>
    </div>
  </div>
</div>